  .flex-container-row {
     border: 1px solid #626262;
     display: -webkit-flex;
     display: flex;
     -webkit-flex-direction: row;
     flex-direction: row;
     -webkit-align-items: center;
     align-items: center;
     flex-wrap: wrap;
  }

  .flex-item {
    border: 1px solid #626262;
    max-width: 600px;
    height: auto;
    margin-left: 5px;
    margin-right: 5px;
  }

  .flex-logo {
    border: 1px solid #626262;
    max-width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .flex-right {
    border: 1px solid #626262;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }

  .info-container{
      display: inline-block;
      vertical-align: top;
      padding: 0 0 0 5px;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin: auto;
  }

  .name-center p{
      padding: 0;
      margin: 0 0 10px;
      text-align: center;
  }

  .info-container p{
      padding: 0;
      margin: 0 0 10px;
  }

  img {
      width: 100px; /* you can use % */
      height: auto;
  }
