@media only screen and (max-width: 1800px) {
  .flex-container-row {
     display: -webkit-flex;
     display: flex;
     -webkit-flex-direction: row;
     flex-direction: row;
     -webkit-align-items: center;
     align-items: center;
     flex-wrap: wrap;
     position: relative;
     z-index: 5px;
  }

  .info-block {
    border: 1px solid #626262;
    margin-top: 15px;
    background-color: white;
    font-weight: 300;
    box-shadow: 0 2px lightgray;
    border-radius: 5px;
    margin-right: -2px;

  }

  .info-block-title {
    margin-left: 2%;
    font-weight: 400;
  }

  .flex-item {
    max-width: 600px;
    height: auto;
    margin-left: 5px;
    margin-right: 5px;
  }

  .flex-header-logo {
    border: 1px solid #626262;
    max-width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 25px;
    box-shadow: 0 1px lightgray;
    border-radius: 5px;
    background-color: white;
  }

  .flex-logo {
    border: 1px solid #626262;
    max-width: 400px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 4px;
    box-shadow: 0 1px lightgray;
    border-radius: 5px;
  }

  .flex-right {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }

  .info-container{
      display: inline-block;
      vertical-align: top;
      padding: 0 0 0 5px;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin: auto;
  }

  .name-header-center p{
      padding: 0;
      margin: 0 0 10px;
      text-align: center;
      margin-top: 55px;
      display: absolute;
      color: white;
      font-weight: 400;
  }

  .name-center p{
      padding: 0;
      margin: 0 0 10px;
      text-align: center;

  }

  .info-container p{
      padding: 0;
      margin: 0 0 10px;
  }

  .imgtag {
    width: 60px; /* you can use % */
    height: auto;
  }

  img {
      width: 100px; /* you can use % */
      height: auto;
  }

  body {
    background-color: #f2f2f2;
    font-family: 'Roboto';
    position: relative;
    z-index: 3px;
  }

  #overlay {
    position: absolute;
    border: 1px solid #626262;
    width: 100%;
    height: 80px;
    top: 0px;
    left: 0px;
    background-color: blue;
    background-image: url("https://handshake-production-cdn.joinhandshake.com/assets/patterns/icons-d44414be8ed381d824eb59ca792b16e5c7a18ed1c5a9319acdc060551cd42012.png");
    z-index: 2px;
    border-radius: 5px 5px 0 0;
  }
}

@media only screen and (max-width: 550px) {
  .name-header-center p{
      padding: 0;
      margin: 0 0 10px;
      text-align: center;
      margin-top: 15px;
      display: absolute;
  }

  .name-header-center p{
      color: black;
  }
}
